body{
  margin: 0
}

@mixin nav-bar($background-color, $text-color, $title-size, $desc-size){
  width: 100%;
  height: 80px;
  padding: 10px;
  background-color: $background-color;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid blue;
  color: $text-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  h1{
    margin: 0;
    font-size: $title-size;
  }
  p{
    font-size: $desc-size;
    margin: 0;
  }
}
